discord_desktop.egg-info/dependency_links.txt
discord_desktop.egg-info/PKG-INFO
dist/discord_desktop-1.0.0.tar.gz
dist/discord_desktop-1.0.0-py3-none-any.whl
discord_desktop.egg-info/top_level.txt
discord_desktop.egg-info/SOURCES.txt
discord_desktop.egg-info/requires.txt
dist/discord_desktop-1.0.1-py3-none-any.whl
dist/discord_desktop-1.0.1.tar.gz
